@font-face {
    font-family: 'Montserrat';
    src: url('./../../fonts/Montserrat/static/Montserrat-Regular.ttf'), 
    url('./../../fonts/Montserrat/static/Montserrat-Medium.ttf'), 
    url('./../../fonts//Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Cambay';
    src: url('./../../fonts/Cambay/Cambay-Regular.ttf'), 
    url('./../../fonts/Cambay/Cambay-Bold.ttf');
}